@font-face {
  font-family: vazir ;
  src: url('../../fonts/Vazir-Bold-FD.eot')format('eot'),
  url('../../fonts/Vazir-Bold-FD.ttf')format('truetype'),
  url('../../fonts/Vazir-Bold-FD.woff')format('woff');
  font-weight: normal;
  font-style: normal;  
  
}




.login-form-container{
  background: #ecf0f3;
  font-family: "vazir", sans-serif;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  
}
.form-bg{
  margin-top:4rem !important;

} 
.login-form-container .login-form-icon{
  color: #f07a90;
  font-size: 55px;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height:100px;
  margin: 0 auto 15px;
  border-radius: 50px;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px #fff;
}
.login-form-container .login-title{
  color: #f07a90;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 0 20px;
}
.login-form-container .login-form-horizontal .login-form-group{ margin: 0 0 25px 0; }
.login-form-container .login-form-horizontal .login-form-group label{
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.login-form-container .login-form-horizontal .login-form-control{
  color: #333;
  background: #ecf0f3;
  font-size: 15px;
  height: 50px;
  padding: 20px;
  letter-spacing: 1px;
  border: none;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.login-form-container .login-form-horizontal .login-form-control:focus{
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
  outline: none;
}
.login-form-container .login-form-horizontal .login-form-control::placeholder{
  color: #808080;
  font-size: 14px;
}
.login-form-container .login-form-horizontal .btn{
  color: #000;
  background-color: #f07a90;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  padding: 12px 15px 11px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #fff;
  border: none;
  transition: all 0.5s ease 0s;
}
.login-form-container .login-form-horizontal .btn:hover,
.login-form-container .login-form-horizontal .btn:focus{
  color: #fff;
  letter-spacing: 3px;
  box-shadow: none;
  outline: none;
}




.register-div{
  font-family:"vazir";
  color: #000;
  /* cursur:pointer; */
  cursor: pointer;

  
}

.register-div:hover{
  color: #f07a90;
}


















/* .login-form{
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
  height: 400px;
  border: 1px solid lightslategray ;
  background-color:rgb(192,192,192);opacity:0.7; 
  color: balck !important;
}
.login{
  background-image: url(./bg.jpg);
  width:100%;
  height:600px !important ;
}
.rtl{
  direction: rtl;
}
.button{
  width: 130px;
  height: 50px;
  background: #aca7a9;
  position: relative;
  background: #f3f0f1;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.span{
  line-height: 30px;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: semibold;
      color: lightslategray;
     
   
} */