




































/* app-main { 
    width: 70%;
    height: 100vh;
  }
  .note_keeper_note_edit,
  .note_keeper_note_preview {
    height: 50vh;
  }
  
  .empty_note {
    width: 70%;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 2rem;
    color: #999;
  }
  
  /* Editing */
  /* .note_keeper_note_edit {
    padding: 25px;
  }
  
  .note_keeper_note_edit input,
  textarea {
    display: block;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
    height: calc(50vh - 130px);
    padding: 10px;
    resize: none;
    font-size: inherit;
    font-family: inherit;
  }
  .note_keeper_note_edit input {
    height: 50px;
    font-size: 2rem;
  }
   */
  /* Preview */
  /* .note_keeper_note_preview {
    border-top: 1px solid #ddd;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.02);
  }
  
  .preview_title {
    padding: 25px 25px 0 25px;
    margin: 0;
  }
  
  .markdown_preview {
    padding: 0 25px 25px 25px;
    font-size: 1rem;
    line-height: 2rem;
  } */